body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }


.row ul{
	list-style: none;
}

.row ul li a{
	padding: 20px auto;
	color: black;
	text-decoration: none;

}